# Git
.git

# Logs
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# JetBrains IDE
.idea/

# Docker Compose
docker-compose*.yml

# Project rules
/config/app.*
/config/default/
/data/
/log/
/tmp/
