# Logs
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# JetBrains IDE
.idea/

# Docker
/docker-compose.override.yml

# Project rules
/bin/www
/log/
/tmp/
