# Logs
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# JetBrains IDE
.idea/

# Project rules
/config/app.*
/data/
/docker-compose*.yml
/logs/
/tmp/

# Public editable files
public/instruction.html
