<% if (user.role === 'admin') { %>
	<h1>Сломанные сайты</h1>
	<div class="row">
		<div class="col-xs-6">
			<table class="table">
				<tr>
					<td>Не проверенные</td>
					<td><%= brokenCount %></td>
				</tr>
			</table>
		</div>
	</div>
	<a href="/broken" class="btn btn-primary">Перейти к проверке</a>
	<br><br>
<% } %>

<h1>Оценка сайтов (одиночная)</h1>
<div class="row">
	<div class="col-xs-6">
		<table class="table">
			<tr>
				<td>Оценено</td>
				<td><%= markupCount %></td>
			</tr>
		</table>
	</div>
</div>
<a href="/markup" class="btn btn-primary">Получить новую задачу</a>
<br><br>
