<!DOCTYPE html>

<title>Mass labeling</title>


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">


<div class="container">
	<div class="jumbotron" style="margin-top: 20px;">
		<h1>Произошла ошибка</h1>
		<p>Ошибка не была обработана, возможно вы зашли не туда.</p>
		<p>Код: <%= status %></p>
		<p>Сообщение: <%= error %></p>
		<p>Попробуйте следующие варианты:</p>
		<p><a class="btn btn-primary btn-lg" href="/">Перейти на главную</a></p>
	</div>
</div>