<div class="jumbotron">
	<h1>ATG design</h1>

	<p>Для работы необходима авторизация</p>

	<div class="row">
		<div class="col-xs-4">
			<form id="login">
				<div class="form-group form-group-lg">
					<label for="email">E-mail</label>
					<input type="email" id="email" class="form-control">
				</div>
				<div class="form-group form-group-lg">
					<label for="password">Пароль</label>
					<input type="password" id="password" class="form-control">
				</div>
				<button class="btn btn-primary btn-lg">Войти</button>
			</form>
		</div>
	</div>
</div>


<script src="/js/index.js?v=<%= version() %>"></script>