@import "lang-switcher.css";

.navbar {
	margin-bottom: 0;
}

.btn-help {
	padding: 10px 15px !important;

	font-size: 30px;
}

.answer {
	width: 100%;
	margin: 0 !important;

	font-size: 30px;
	line-height: 50px;
	text-align: center;
}

.root {
	width: 1280px;
	margin: 0 auto;
}

.mark {
	position: fixed;
	top: 50%;
	left: 50%;

	width: 100px;
	height: 100px;
	margin-left: -50px;
	margin-top: -50px;
	padding: 0;
	border-radius: 10px;

	font-size: 72px;
	line-height: 100px;
	text-align: center;
	color: #eee;

	background: #222;
}
	.mark-left {
		left: 25%;
	}
	.mark-right {
		left: 75%;
	}

.overdose {
	display: none;
	padding-top: 20px;
}
