.datasets-container {
  display: flex;
  flex-wrap: wrap;
}

.dataset-item {
  flex-basis: 50%;
}

.actions-container {
  flex-basis: 100%;
  margin: 6px 0;
}

.settings-block {
  margin-top: 25px;
}

.CodeMirror {
  width: 1200px;
  min-height: 600px;
  margin-top: 20px;
}

.users-form {
  margin-top: 20px;
}

.checkbox-block {
  display: flex;
}

.checkbox-block label {
  order: 2;
}

.checkbox-block input {
  margin-top: 2px;
  margin-right: 12px;
}

.tab {
  margin-right: 12px;
  min-width: 130px;
}

input[type="text"],
input[type="number"],
select {
  max-width: 600px;
  width: 100%;
}

.action-btn {
  min-width: 40px;
}
