.datasets-container {
  display: flex;
  flex-wrap: wrap;
}

.dataset-item {
  flex-basis: 50%;
}

.actions-container {
  flex-basis: 100%;
}

.edit-instructions {
  margin-top: 20px;
}

.CodeMirror {
  width: 1200px;
  min-height: 600px;
  margin-top: 20px;
}
