.navbar {
	margin-bottom: 0;
}

.btn-help {
	padding: 10px 15px !important;
	
	font-size: 30px;
}

.answer {
	width: 100%;
	margin: 0 !important;
	
	font-size: 30px;
	line-height: 50px;
	text-align: center;
}

.root {
	display: flex;
	align-items: stretch;
}
	.root .image {
		position: relative;
		
		flex: 1 0 1px;
	}
		.root .image:after {
			content: '';
			
			position: absolute;
			left: 0;
			top: 0;
			
			display: block;
			width: 100%;
			height: 100%;
			
			background: transparent;
			
			transition: .3s;
		}
		.root .image.blured:after {
			background: rgba(0, 0, 0, .5);
		}
		.root .image img {
			width: 100%;
		}
	.root .separator {
		flex: 0 0 10px;
		
		min-height: 100vh;
		margin-top: -50px;
		
		border-left: 10px dashed red;
		background-color: black;
	}
	
.root-3 {
	width: 1280px;
	margin: 0 auto;
}

.mark {
	position: fixed;
	top: 50%;
	left: 50%;
	
	width: 100px;
	height: 100px;
	margin-left: -50px;
	margin-top: -50px;
	padding: 0;
	border-radius: 10px;
	
	font-size: 72px;
	line-height: 100px;
	text-align: center;
	color: #eee;
	
	background: #222;
}
	.mark-left {
		left: 25%;
	}
	.mark-right {
		left: 75%;
	}

.overdose {
	display: none;
	padding-top: 20px;
}